@charset "UTF-8";/*Colores*//*footer*//*Titulares*//*botones*//*Estilos generales*//*Estilos generales de la sección de desplegables*//*Ocultar secciones*//*Fin estilos generales*//*Header logo formulario*/.datosprin {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}/*ventana previsualizar*//*fin parte marta*//*Fin de estilos generales*//*ABOUT*//*Experience and Education form*//*Experience and Education preview*//* La timeline*//* La propia timeline (línea vertical) *//* Contenido alrededor de la timeline *//* Círculos de la timeline *//* Situar los contenidos de la izquierda*//* Situar los contenidos de la derecha *//* Arregla la posición de los círculos del contenido de la derecha *//* Añade flechas en el contenido de la izquierda apuntando a la derecha *//* Añade flechas en el contenido de la derecha apuntando hacia la izquierda. *//* Estilo de las cajas con el contenido *//*Estilos de texto dentro de cajas*//*End Experience and Education preview*//*SKILLS*//*Languages form container*//*Hobbies*//*Checkbox styles*/.socialLabel {
  margin-top: 7px;
  margin-right: 10px;
}

.nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.inputPortfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 15px;
  margin-top: 13px;
  padding: 2px;
  border: solid 1px;
  border-radius: 5px;
  width: 225px;
  height: 28px;
  margin-right: 8px;
}/*Ventana de alert de error de fecha introducida*/.alert-dates {
  background-color: #FFFEFA;
  width: 230px;
  height: 110px;
  position: fixed;
  top: 220px;
  left: 17%;
  border: 2px solid #7DBEA5;
}

.button-alert-img {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 3px;
  right: 0;
  cursor: pointer;
}

.text-alert {
  font-size: 13px;
  margin: 30px 30px;
  text-align: justify;
  color: #e64d4d;
  font-weight: bold;
}

.alert-cruise {
  width: 20px;
  height: 20px;
}/*flecha subir arriba*//*formulario*/.seccion {
  padding: 60px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.campos {
  margin: 0 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}/*mediaqueries*//*Mediaqueries de preview de Experiencia y Formación*/.header {
  width: 100%;
  height: 70px;
  min-width: 60px;
  background-color: #2E2B24;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 0px;
  margin-top: 0px;
  z-index: 99;
  padding-right: 10px;
}

.header-background {
  background-image: url(../images/groupMobile.png);
  background-position: center;
  background-size: cover;
  height: 80vh;
  margin-bottom: 5px;
}

.container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.machine-logo {
  margin-top: 5px;
  display: block;
  margin-left: 5px;
  max-width: 60px;
  width: 100%;
}

.letters-log {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  max-width: 150px;
  width: 100%;
  margin-top: 10px;
}

.container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icons {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  background-size: cover;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: center;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  background-color: #FFFEFA;
  margin: 0;
  padding: 0;
  font-family: 'Gabriela', serif;
}

.main-wrapper {
  padding-top: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}/*footer*/.footer {
  background-color: #252525;
  font-size: 0.8em;
  color: #555555;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.end {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.logo-adalab {
  display: block;
  margin: 5px auto;
  max-width: 200px;
  width: 75%;
}/*botones*/#btnview {
  background-image: url("../images/btnfile2.png");
}

#btnshare {
  background-image: url("../images/btnshare2.png");
  display: none;
}

#btnprint {
  background-image: url("../images/btnprint2.png");
  display: none;
}

#btndownload {
  background-image: url("../images/btndownload2.png");
  display: none;
}

#btnshareprev {
  background-image: url("../images/btnshare3.png");
  display: block;
}

#btnprintprev {
  background-image: url("../images/btnprint3.png");
  display: block;
}

#btndownloadprev {
  background-image: url("../images/btndown.png");
  display: block;
}

#button-down {
  background: none;
  border: none;
}/*preview*/#aboutMe-preview {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  color: black;
}/*languages*/#languages-form-container,#hobbies-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#languages-preview,#hobbies-preview,.social {
  padding-left: 7%;
  padding-right: 7%;
}/*checkbox*/input[type=checkbox] {
  -webkit-transform: scale(1.2);
 /* Safari and Chrome */
  color: #000;
}

#hobbies-form {
  padding-bottom: 2%;
}/*flechas*/#arriba {
  width: 5px;
  padding: 5px;
  position: fixed;
  bottom: 15px;
  right: 45px;
  z-index: 1;
  opacity: 0.9;
}

#arriba img {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 60px;
}/*comentarios*/#comentarios {
  height: 80px;
  padding-top: 6px;
}/*mediaqueries*/.codigoqr > img {
  width: 120px;
  height: 120px;
}

.codigoqr {
  padding: 15px;
  text-align: center;
}

.link-contact {
  color: #d5d4cd;
  text-decoration: none;
  margin-top: 20px;
}

.link-contact:hover {
  color: #7DBEA5;
}/*botones compartir en redes sociales*/#btrs {
  text-align: center;
}

.sl:hover,.lkdn:hover,.fb:hover,.twtr:hover,.glg:hover,.pnt:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
}/*Botones añadir y guardar*/.buttons-save-general {
  background-color: #E1F7E7;
  padding: 5px;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  -webkit-box-shadow: #E1F7E7 0 1px 0;
  box-shadow: #E1F7E7 0 1px 0;
  display: inline-block;
  margin: 13px 0px;
  width: 70px;
  border-radius: 7px;
}

.buttons-save-general:hover {
  background: #7DBEA5;
  -webkit-box-shadow: inset 0 0 20px #7DBEA5, 0 0 20px #7DBEA5;
  box-shadow: inset 0 0 20px #7DBEA5, 0 0 20px #7DBEA5;
  outline-offset: 80px;
  color: #ffffff;
  font-weight: bold;
  border-color: #7DBEA5;
}/*botones mostrar y ocultar info form*/.open-section-button {
  background: none;
  border: none;
  margin-left: auto;
}

.close-section-button {
  background: none;
  border: none;
  margin-left: auto;
}

.cross-section-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}/*Estilos generales de la sección de desplegables*/.form {
  width: 50%;
}

.form-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-container {
  padding-left: 20px;
  margin-bottom: 10px;
  width: 90%;
  height: 40px;
  background-color: #7DBEA5;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: black 0 1px 0;
  box-shadow: black 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}

.title-container:hover {
  border-top-color: #5a392b;
  background: #5a392b;
  color: #ccc;
}

.title-container:active {
  border-top-color: #5a392b;
  background: #5a392b;
}/*ocultar secciones*/.net-social-hidden,.invisible,#languages-form,#hobbies-form,#read,#travel,#game,#sports,#cinema,#music,#files,#ventana2,#sound-efx {
  display: none;
}

.visible {
  display: block;
}

.shown {
 /*visibility: visible;*/
  display: block;
}

.hidden {
 /*visibility: hidden;*/
  display: none;
}/*Fin estilos generales*//* cargar imagen*/.thumb {
  border: 1px solid #000;
  margin: 10px 5px 0 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 40px;
  -webkit-box-shadow: 5px 8px 42px 1px #3d3d29;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  background-image: url("../images/addimg.png");
  background-color: #cdf7e6;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}

.container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.boxes-container {
  display: none;
  padding-bottom: 10px;
}

.buttons-container {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-preview {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  padding: 2px;
  border: solid 1px;
  border-radius: 5px;
  width: 225px;
  font-style: arial;
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.input-lang,.input-skill {
  padding-bottom: 1em;
}

.skill {
  margin-top: 5px;
  margin-right: 1%;
  color: #5a392b;
}

.skill,.language,.skill-percent,.percentage {
  width: 160px;
}

.dates-boxes {
  margin: 8px 8px;
  width: 220px;
  padding: 3px;
  text-align: center;
}

.select-styles {
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  padding: 2px;
  border: solid 1px;
  background-color: #ffffff;
  border-radius: 5px;
}

.month,.year {
  margin-top: 5px;
}

.check-box-hobbies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 4%;
}

.container-pic-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -20px;
}

.separator {
  color: #7DBEA5;
  width: 100%;
  text-align: center;
  padding: 4%;
}

.main-details-preview {
  margin: 2px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-details-preview {
  margin: 2px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-title {
  text-align: center;
  color: #5a392b;
}

.name {
  font-size: 20px;
  font-weight: bold;
}/* La timeline*/.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}/* La propia timeline (línea vertical) */.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: #5a392b;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}/* Contenido alrededor de la timeline */.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}/* Círculos de la timeline */.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #5a392b;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}/* Situar los contenidos de la izquierda*/.left {
  left: 0;
}/* Situar los contenidos de la derecha */.right {
  left: 50%;
}/* Arregla la posición de los círculos del contenido de la derecha */.right::after {
  left: -16px;
}/* Añade flechas en el contenido de la izquierda apuntando a la derecha */.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgba(125, 190, 165, 0.36);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(125, 190, 165, 0.36);
}/* Añade flechas en el contenido de la derecha apuntando hacia la izquierda. */.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgba(125, 190, 165, 0.36);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(125, 190, 165, 0.36) transparent transparent;
}/* Estilo de las cajas con el contenido */.content-timeline {
  padding: 10px 30px;
  background-color: rgba(125, 190, 165, 0.36);
  position: relative;
  border-radius: 6px;
  font-size: 14px;
}

.dates-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0px;
  margin-bottom: 7px;
  margin-top: 5px;
}/*Estilos de texto dentro de cajas*/.title-year {
  color: #5a392b;
  margin: 8px;
  font-size: 20px;
}

.job-title,.education-title {
  font-weight: bold;
}

.dates-output-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 20px;
  margin: 4px 40px;
}

.work-information-output-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-information-output-container > p {
  margin-top: 0px;
  text-align: center;
}/*SKILLS*/.section-skills {
  margin-left: 15px;
  margin-right: 20px;
}

.skill-pre {
  margin-left: 15%;
}

.skill-title {
 /*font-family: sans-serif;*/
  font-size: 14px;
  margin-top: 5px;
}

.barra {
  background-color: #E0E0E0;
  border-radius: 10px;
  width: 85%;
  height: 10px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  display: none;
  margin-top: 5px;
}

.barra_front {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #7DBEA5;
}

.languages-bar-preview {
  background-color: #e0e0e0;
  margin-bottom: 1em;
}/* cargar imagen*/.thumb {
  border: 1px solid #000;
  margin: 10px 5px 0 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}/*styles pre*/.thumb2 {
  border: 1px solid #000;
  margin: 10px 5px 0 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}/*fin cargar imagen*/.separator {
  color: #7DBEA5;
  width: 100%;
  text-align: center;
  padding: 4%;
}

.all-hobbies-preview {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-bar-preview {
  text-align: left;
  color: #ffffff;
  line-height: 2em;
  padding-left: 1em;
}

.percentage-bar {
  background-color: #5a392b;
}

.linkedin a {
  background: url("../images/linkedin.png");
  overflow: hidden;
  display: block;
  background-size: 40px 40px;
  padding-top: 40px;
  height: 0;
  width: 40px;
}

.facebook a {
  background: url("../images/facebook.png");
  overflow: hidden;
  display: block;
  background-size: 40px 40px;
  padding-top: 40px;
  height: 0;
  width: 40px;
}

.github a {
  background: url("../images/github.png");
  overflow: hidden;
  display: block;
  background-size: 40px 40px;
  padding-top: 40px;
  height: 0;
  width: 40px;
}

.twitter a {
  background: url("../images/twitter.png");
  overflow: hidden;
  display: block;
  background-size: 40px 40px;
  padding-top: 40px;
  height: 0;
  width: 40px;
}

.instagram a {
  background: url("../images/instagram.png");
  overflow: hidden;
  display: block;
  background-size: 40px 40px;
  padding-top: 40px;
  height: 0;
  width: 40px;
}

.all-hobbies-preview,.socialNetworks,.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.title-crea {
  margin-top: 15%;
  margin-left: 20px;
  font-size: 2em;
  font-family: 'Gabriela', serif;
  font-weight: bold;
  color: #5a392b;
}

.title-form {
  color: #ffffff;
}

.title-section {
  text-align: center;
  color: #5a392b;
}

.subtitle-section {
  margin: 10px 0;
  text-align: center;
}

.title-name {
  font-size: 20px;
  font-weight: bold;
}

.wrapper {
  font-family: 'Gabriela', serif;
}

@font-face {
  font-family:'American Typewriter Bold';font-style:normal;font-weight:normal;src:local("American Typewriter Bold"), url("ufonts.com_american-typewriter-bold.woff") format("woff");
}

@media all and (min-width: 350px) {
  .header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container-icons {
    margin-right: 20px;
  }

  .container-logo {
    margin-left: 30px;
  }
}

@media all and (min-width: 400px) {
  .nets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media all and (min-width: 460px) {
  #arriba {
    bottom: 15px;
    right: 27px;
  }
}

@media all and (min-width: 600px) {
/*Footer*/  .infooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  #button-down {
    display: none;
  }

  #empty-container {
    height: 20px;
  }

  #arriba {
    width: 5px;
    padding: 5px;
    position: fixed;
    bottom: 15px;
    right: 45px;
    z-index: 1;
    opacity: 0.9;
  }
}

@media all and (min-width: 810px) {
  .header {
    height: 100px;
  }

  .machine-logo {
    max-width: 85%;
    margin: 0px;
    padding: 3px;
  }

  .container-logo {
    height: 80px;
    width: 41%;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .container-letters {
    width: 1000px;
  }

  .letters-log {
    max-width: 100%;
    padding-top: 10px;
    padding-left: -5px;
  }

  .icons {
    height: 34px;
    width: 34px;
    margin: 8px;
  }

  .box-icons-preview {
    margin-top: 37px;
  }
}

@media all and (min-width: 900px) {
  .flexible::before {
    left: 0;
    top: 0;
    background: url(../images/group.png) left top no-repeat;
    background-size: cover;
  }

  .main-web-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 67px;
  }

  main {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .formulario-sec {
    height: 100%;
    width: 40%;
  }/*Footer*/  .logo {
    margin-right: 120px;
  }

  .end {
    margin-left: auto;
  }

  .language {
    margin-right: 1%;
  }

  .header-background {
    width: cover;
    background-image: url(../images/group.png);
    height: 100vh;
  }

  .machine-logo {
    max-width: 74%;
  }

  .container-logo {
    height: 80px;
    width: 41%;
    margin-bottom: 8px;
  }

  .container-letters {
    width: 1000px;
  }

  .letters-log {
    max-width: 100%;
    padding-top: 10px;
    padding-left: -5px;
  }

  #ventana2,#btnshare,#btnprint,#btndownload {
    display: block;
  }

  #btnshareprev,#btnprintprev,#btndownloadprev {
    display: none;
  }

  .cross-section-button {
    display: none;
  }

  .form-sec {
    height: 100%;
    width: 40%;
  }

  .preview-section {
    height: 100%;
    width: 50%;
  }

  .separator {
    margin-top: 1.5em;
  }
}

@media all and (max-width: 900px) {
  .title-crea {
    margin-top: 10%;
    margin-left: 20px;
    font-size: 2.1em;
  }
}

@media all and (max-width: 600px) {
  .icons {
    height: 28px;
    width: 28px;
  }

  .text-form-button {
    font-size: 18px;
  }

  .icons {
    height: 28px;
    width: 28px;
  }

  .header-background {
    background-image: url(../images/group.png);
    height: 100vh;
  }/* Poner la línea a la izquierda */  .timeline::after {
    left: 31px;
  }/* Para que se ajusten los contenedores a la pantalla */  .container-timeline {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }/* Poner los contenedores de la derecha debajo de los de la izquierda */  .right {
    left: 0%;
  }/* Para que todas las flechas apunten a la izquierda */  .container-timeline::before {
    left: 60px;
    border: medium solid rgba(125, 190, 165, 0.36);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(125, 190, 165, 0.36) transparent transparent;
  }/* Para que todos los círculos estén alineados */  .left::after,.right::after {
    left: 15px;
  }

  .title-form {
    font-size: 18px;
  }

  .title-crea {
    margin-top: 15%;
    margin-left: 20px;
    font-size: 2em;
  }
}

@media print {
  header,footer,nav {
    display: none;
  }

  .thumb2 {
    margin-top: 50px;
  }

  .formulario-sec {
    display: none;
  }

  .form-sec {
    display: none;
  }

  .barra,.content-timeline,.languages-bar-preview,.timeline,.printnet {
    -webkit-print-color-adjust: exact;
  }

  .timeline::after {
    left: 50%;
  }

  .container-timeline {
    padding: 10px 40px;
    width: 50%;
  }

  .container-timeline::after {
    left: 343px;
    top: 15px;
  }

  .left {
    left: 0;
  }

  .right {
    left: 50%;
  }

  .right::after {
    left: -16px;
  }

  .left::before {
    top: 22px;
    left: 319px;
    border: medium solid rgba(125, 190, 165, 0.36);
    border: medium solid rgba(125, 190, 165, 0.36);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(125, 190, 165, 0.36);
  }

  .right::before {
    top: 22px;
    left: 30px;
    border: medium solid rgba(125, 190, 165, 0.36);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(125, 190, 165, 0.36) transparent transparent;
  }
}

/*# sourceMappingURL=main.css.map */
