.info-preview{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inputs {
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	font-style: arial;
}

.name{
	font-size: 20px;
	font-weight: bold;
}

.input-lang, .input-skill{
	padding-bottom: 1em;
}

.skill {
  margin-top: 5px;
	margin-right: 1%;
	color: $percentageBarAndInputsAcc;
}

.skill, .language, .skill-percent, .percentage {
	width: 160px;
}

.dates-boxes{
	margin: 8px 8px;
	width: 220px;
	padding: 3px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.select-styles{
	text-shadow: $textShadowInputs 0 1px 0;
	padding: 2px;
	border: solid 1px;
	background-color: $white;
	border-radius: 5px;
}
.month, .year {
	margin: 5px;
}

.label-dates {
	width: 100%;
}
.check-box-hobbies {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4%;
}
