.container-pic-preview{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -20px;
}
.separator {
  color: $inputAndButtons;
	width: 100%;
	text-align: center;
	padding: 4%;
}
.main-details-preview {
	margin: 2px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-details-preview {
	margin: 2px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-title{
	text-align: center;
	color: $percentageBarAndInputsAcc;
}
.name{
	font-size: 20px;
	font-weight: bold;
}

/* La timeline*/
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
/* La propia timeline (línea vertical) */
.timeline::after {
  content: '';
  position: absolute;
  width: 10px;
  background-color: $percentageBarAndInputsAcc;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
/* Contenido alrededor de la timeline */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
/* Círculos de la timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid $percentageBarAndInputsAcc;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
/* Situar los contenidos de la izquierda*/
.left {
  left: 0;
}
/* Situar los contenidos de la derecha */
.right {
  left: 50%;
}
/* Arregla la posición de los círculos del contenido de la derecha */
.right::after {
  left: -16px;
}
/* Añade flechas en el contenido de la izquierda apuntando a la derecha */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid $timeline;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent $timeline;
}
/* Añade flechas en el contenido de la derecha apuntando hacia la izquierda. */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid $timeline;
  border-width: 10px 10px 10px 0;
  border-color: transparent $timeline transparent transparent;
}
/* Estilo de las cajas con el contenido */
.content-timeline {
  padding: 10px 30px;
  background-color: $timeline;
  position: relative;
  border-radius: 6px;
	font-size: 14px;
}
.dates-container {
	display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0px;
  margin-bottom: 7px;
	margin-top: 5px;
}
/*Estilos de texto dentro de cajas*/
.title-year {
  color: $percentageBarAndInputsAcc;
	margin: 8px;
	font-size: 20px;
}
.job-title, .education-title {
  font-weight: bold;
}
.dates-output-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
	padding: 0 20px;
	margin: 4px 40px;
}
.work-information-output-container{
  display:flex;
  flex-direction: column;
  align-items: center;
 }
.work-information-output-container > p{
  margin-top: 0px;
	text-align: center;
}
/*SKILLS*/
.section-skills {
	margin-left: 15px;
	margin-right: 20px
}
.skill-pre {
	margin-left: 15%;
}
.skill-title {
  /*font-family: sans-serif;*/
  font-size: 14px;
	margin-top: 5px;
}
.barra {
  background-color: #E0E0E0 ;
  border-radius: 10px;
  width: 85%;
  height: 10px;
  margin-left: 0;
	margin-right: 0;
  position: relative;
	margin-top: 5px;
}

.barra_invisible{
	display: block;
}
.barra_visible{
		display: block;
}
.barra_front {
	width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: $inputAndButtons;
}
.languages-bar-preview {
	background-color: $languagesBackground;
	margin-bottom: 1em;
}
/* cargar imagen*/
.thumb{
	border: 1px solid $black;
	margin: 10px 5px 0 0;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-box-shadow: 8px 14px 42px 1px $imageBoxShadow;
}
/*styles pre*/

.thumb2{
	border: 1px solid $black;
	margin: 10px 5px 0 0;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-box-shadow: 8px 14px 42px 1px #3d3d29;
}
/*fin cargar imagen*/
.separator {
  color: $inputAndButtons;
	width: 100%;
	text-align: center;
	padding: 4%;
}
.all-hobbies-preview {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.text-bar-preview {
	text-align: left;
	color: $white;
	line-height: 2em;
	padding-left: 1em;
}
.percentage-bar {
	background-color: $percentageBarAndInputsAcc;
}
.linkedin a{
	background: url('../images/linkedin.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.facebook a{
	background: url('../images/facebook.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.github a{
	background: url('../images/github.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.twitter a{
	background: url('../images/twitter.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
.instagram a{
	background: url('../images/instagram.png');
	overflow: hidden;
	display: block;
	background-size: 40px 40px;
	padding-top: 40px;
	height: 0;
	width: 40px;
}
@media all and (max-width: 600px) {
/* Poner la línea a la izquierda */
	.timeline::after {
		left: 31px;
	}
	/* Para que se ajusten los contenedores a la pantalla */
	.container-timeline {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	/* Poner los contenedores de la derecha debajo de los de la izquierda */
	.right {
		left: 0%;
	}
	/* Para que todas las flechas apunten a la izquierda */
	.container-timeline::before {
		left: 60px;
		border: medium solid $timeline;
		border-width: 10px 10px 10px 0;
		border-color: transparent $timeline transparent transparent;
	}
	/* Para que todos los círculos estén alineados */
	.left::after, .right::after {
		left: 15px;
	}
}
.all-hobbies-preview, .socialNetworks, .social {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
@media all and (min-width: 810px){
	.box-icons-preview{
		margin-top: 37px;
	}
}
@media all and (min-width:900px) {
		.preview-section{
		height: 100%;
		width: 50%;
	}
	.separator{
		margin-top: 1.5em;
	}
}
@media print {
	.barra, .content-timeline, .languages-bar-preview, .timeline, .printnet {
			-webkit-print-color-adjust: exact;
		}
	.timeline::after {
		left: 50%;
	}
	.container-timeline {
		padding: 10px 40px;
		width: 50%;
	}
	.container-timeline::after {
		left: 343px;
		top: 15px;
	}
	.left {
		left: 0;
	}
	.right {
		left: 50%;
	}
	.right::after {
		left: -16px;
	}
	.left::before {
		top: 22px;
		left: 319px;
		border: medium solid $timeline;
		border: medium solid $timeline;
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent $timeline;
	}
	.right::before {
		top: 22px;
		left: 30px;
		border: medium solid $timeline;
		border-width: 10px 10px 10px 0;
		border-color: transparent $timeline transparent transparent;
	}
}
