$whitishBackground: #FFFEFA;
$white: #ffffff;
$black: #000;
$inputAndButtons: #7DBEA5;
$alerts: #e64d4d;
$footer: #252525;
$footerLetters: #555555;
$timeline: rgba(125, 190, 165, 0.36);
$percentageBarAndInputsAcc: #5a392b;
$headerBackground: #2E2B24;
$boxShadowInputs: rgba(0,0,0,1);
$boxBorderAndButtonColor: #514336;
$boxBackgroundColor: #F4EDDD;
$textShadowInputs: rgba(0,0,0,.4);
$languagesBackground: #e0e0e0;
$addSaveButtons: #E1F7E7;
$imageBoxShadow: #3d3d29;
$imageBackground: #cdf7e6;
$contactColor: #d5d4cd;

/*footer*/
$footerPadding: 5px;
$footerMarginTop: 20px;
$logoWidth: 200px;
$logoWidthPercentaje: 75%;

/*botones*/

$buttonPadding: 5px;
$buttonMargin: 13px 0px;
$buttonWidth: 70px;
$buttonBorderRadius: 7px;
$cruzButtonMarginTop: 30px;
$buttonOutline: 80px;
