/*Estilos generales*/

#empty-container {
	height: 70px;
}
@font-face {
font-family: 'American Typewriter Bold';
font-style: normal;
font-weight: normal;
src: local('American Typewriter Bold'), url('ufonts.com_american-typewriter-bold.woff') format('woff');
}

/*Estilos generales de la sección de desplegables*/
.title-container {
	padding-left: 20px;
	margin-bottom: 10px;
	width: 90%;
	height: 40px;
	background-color: $inputAndButtons;
	border-radius: 8px;
	display: flex;
	align-items: center;
	box-shadow: $boxShadowInputs 0 1px 0;
	text-shadow: $textShadowInputs 0 1px 0;
}
.title-container:hover {
  border-top-color: $percentageBarAndInputsAcc;
  background: $percentageBarAndInputsAcc;
  color: #ccc;
}
.title-container:active {
	border-top-color: $percentageBarAndInputsAcc;
	background: $percentageBarAndInputsAcc;
}
.inputs {
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	font-style: arial;
}

/*Ocultar secciones*/
.net-social-hidden, .invisible, #languages-form, #hobbies-form, #read, #travel, #game, #sports, #cinema, #music, #files, #ventana2, #sound-efx {
	display: none;
}
.visible {
	display: block;
}
.shown{
	/*visibility: visible;*/
	display: block;
}
.hidden{
	/*visibility: hidden;*/
	display: none;
}
/*Fin estilos generales*/
/*Header logo formulario*/

.iconsprev{
	height: 30px;
  width: 30px;
  margin-left: 5px;
  background-size: cover;
  align-items: flex-end;
  text-align: center;
  background-color: transparent;
  box-sizing: border-box;
  border-style: none;
  cursor: pointer
}

.box-icons-preview{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	margin-bottom: 50px;
	margin-left: 75px;
	margin-top: 10px;
	margin-right: 17px;
}
#btnview{
	background-image: url("../images/btnfile2.png");
}
#btnshare{
	background-image: url("../images/btnshare2.png");
	display: none;
}
#btnprint{
	background-image: url("../images/btnprint2.png");
	display: none;
}
#btndownload{
	background-image: url("../images/btndownload2.png");
	display: none;
}
#btnshareprev{
	background-image: url("../images/btnshare3.png");
	display: block;
}
#btnprintprev{
	background-image: url("../images/btnprint3.png");
	display: block;
}
#btndownloadprev{
	background-image: url("../images/btndown.png");
		display: block;
}


.text-crea {
	margin-top: 20%;
	margin-left: 20px;
	font-size: 1.5em;
	font-family: 'American Typewriter Bold', Arial;
	font-weight: bold;
	color: $percentageBarAndInputsAcc;
}
#button-down {
	background: none;
	border: none;
}
.containerinfo{
	display: flex;
	flex-direction: column;
}
.containerfoto{
	display: flex;
	justify-content: center;
}
.datosprin{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foto{
	width: 200px;
  height: 200px;
	border-radius: 100px;
	margin-top: 40px;
	-webkit-box-shadow: 5px 8px 42px 1px #3d3d29;
	display: flex;
	align-self: center;
	background-image: url("../images/addimg.png");
	background-color: $imageBackground;
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center;
}
.subirfoto{
	width: 95px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 5px 8px 42px 1px #3d3d29;
}

/*ventana previsualizar*/
.textcrea{
	font-size: 40px;
	margin-top: 50px;
	}
/*fin parte marta*/


/*Fin de estilos generales*/

/*ABOUT*/
.textarea {
	font-family: arial;
	font-size: 15px;
}
#aboutMe-preview{
	text-align: justify;
	display: flex;
	justify-content: center;
	margin:0;
	color: black;
}
/*Experience and Education form*/
.form-section-container{
	display:flex;
	flex-direction: column;
	align-items: center;
}
.boxes-container{
	display: none;
	padding-bottom: 10px;
}
.subtitle-section{
	margin: 10px 0;
	text-align: center;
}
.dates-boxes{
	margin: 8px 8px;
	width: 220px;
	padding: 3px;
	text-align: center;
}
.select-styles{
	text-shadow: $textShadowInputs 0 1px 0;
	padding: 2px;
	border: solid 1px;
	background-color: $white;
	border-radius: 5px;
}
.buttons-container{
	margin: 10px 0px;
	display: flex;
  flex-direction: row;
  justify-content: center;
}
.month, .year{
	margin-top: 5px;
}

.skill {
  margin-top: 5px;
	margin-right: 1%;
	color: $percentageBarAndInputsAcc;
}

/*Languages form container*/
#languages-form-container, #hobbies-form-container {
	display:flex;
	flex-direction: column;
	align-items: center;
}
.text-form-button {
	color: $white;
}
#languages-preview, #hobbies-preview, .social {
	padding-left: 7%;
	padding-right: 7%;
}

.input-lang, .input-skill{
	padding-bottom: 1em;
}
/*Hobbies*/
.all-hobbies-preview, .socialNetworks, .social {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}//divs q contienen los inputs, mío o Noe?
/*Checkbox styles*/
.check-box-hobbies {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4%;
}
input[type=checkbox]{
	-webkit-transform: scale(1.2); /* Safari and Chrome */
	color: $black;
}
#hobbies-form {
	padding-bottom: 2%;
}
.socialLabel{
	margin-top: 7px;
	margin-right: 10px;
}
.codigoqr > img{
	width: 120px;
	height: 120px;
}
.nets{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
 }
.inputPortfolio{
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 13px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	height: 28px;
	margin-right: 8px;
}
.codigoqr{
padding: 15px;
text-align: center;
}
/*Ventana de alert de error de fecha introducida*/
.alert-dates{
	background-color: $whitishBackground;
	width: 230px;
  height: 110px;
  position: fixed;
  top: 220px;
  left: 17%;
	border: 2px solid #{$inputAndButtons};
}
.button-alert-img{
	background-color: transparent;
  border: none;
	position: absolute;
	top: 3px;
  right: 0;
	cursor: pointer;
}
.text-alert{
	font-size: 13px;
  margin: 30px 30px;
  text-align: justify;
  color: $alerts;
	font-weight: bold;
}
.alert-cruise{
	width: 20px;
  height: 20px;
}

/*flecha subir arriba*/
#arriba {
	width: 5px;
	padding: 5px;
	position: fixed;
	bottom: 15px;
	right: 45px;
	z-index: 1;
	opacity: 0.9;
}
#arriba img{
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 30px;
	margin-bottom: 60px;
}
/*formulario*/
.flexible{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	position: relative;
  height: 300px;
 }
 .flexible::before {
  content:'';
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 103%;
  background: url(../images/groupMobile.png) left top no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: .5;
}
.seccion{
	padding: 60px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  z-index: 2;
}
.titleForm{
	text-align: center;
}
.texto-formulario{
	margin: 15px 35px;
}
.formulario{
	width: 50%;
}
.complete{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.cajas{
  width: 100%;
	background-color: $boxBackgroundColor;
	border: solid 1px $boxBorderAndButtonColor;
	padding: 0 12px;
	height: 40px;
	border-radius: 9px;
	font:15px arial ;
}
#comentarios{
	height: 80px;
	padding-top: 6px;
}
.cajas:focus{
	border-color: $boxBorderAndButtonColor;
}
.campos{
 margin: 0 0 1.5rem;
 display: flex;
 flex-direction: row;
}
.boton{
	color: $boxBorderAndButtonColor;
	background-color: $inputAndButtons;
	font-size: 15px;
	font-weight: bold;
	z-index: 1;
	line-height: 2.8;
  border-radius: 0.6em;
	width: 100px;
  margin-left: auto;
}
/*mediaqueries*/

@media all and (min-width: 400px){
	.nets{
		display: flex;
		flex-direction: row;
	 }
}
@media all and (min-width: 460px){
	#arriba {
		 bottom: 15px;
		 right: 27px;
	}
}

@media all and (max-width: 600px){
	.text-form-button{
		font-size: 18px;
	}
}
	/*Mediaqueries de preview de Experiencia y Formación*/

@media all and (min-width:600px) {
	#button-down {
		display: none;
	}
	#empty-container {
		height: 20px;
	}
	.text-crea {
		margin-top: 15%;
		margin-left: 20px;
		font-size: 2em;
	}
	/*Footer*/
	.infooter{
		display: flex;
		flex-direction: row;
	}
	#arriba {
		width: 5px;
		padding: 5px;
		position: fixed;
		bottom: 15px;
		right: 45px;
		z-index: 1;
		opacity: 0.9;
	}
}

@media all and (min-width:900px) {
	#ventana2, #btnshare, #btnprint, #btndownload {
		display: block;
	}
	#btnshareprev, #btnprintprev, #btndownloadprev {
		display: none;
	}
	.flexible::before{
		left: 0;
		top: 0;
		background: url(../images/group.png) left top no-repeat;
		background-size: cover;
	}
	.text-crea {
		margin-top: 10%;
		margin-left: 20px;
		font-size: 2.1em;
	}
	.main-web-sections {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 67px;
	}
	.skill, .language, .skill-percent, .percentage {
		width: 160px;
	}
	.formulario-sec {
		height: 100%;
		width: 40%
	}
	.cruz-section-button{
		display: none;
	}
	/*Footer*/
	.logo{
		margin-right:120px;
	}
	.end{
		margin-left: auto;
	}
	.input-lang, .input-skill{
		display:flex;
	}
	.language{
		margin-right: 1%;
	}
}

@media print {
	header, footer, nav {
		display: none;
	}
	.thumb2{
		margin-top: 50px;
	}
	.formulario-sec {
		  display: none;
	}
}
