/*footer*/
.footer{
	background-color: $footer;
	font-size: 0.8em;
	color: $footerLetters;
	padding: $footerPadding;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: $footerMarginTop;
}

.end{
	margin-left: auto;
	margin-right: auto;
}
.contact{
	color: $contactColor;
	text-decoration: none;
	margin-top: $footerMarginTop;
}
.contact:hover{
	color: $inputAndButtons;
}
.logo{
	min-width: $logoWidth;
	margin-left: auto;
	margin-right: auto;
}
.logo-adalab{
	display: block;
	margin: 5px auto;
	max-width: $logoWidth;
	width: $logoWidthPercentaje;
}
