.inputs {
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	font-style: arial;
}

.textarea {
	font-family: arial;
	font-size: 15px;
}
