.title-crea {
	margin-top: $titleCreaMarginTop;
	margin-left: $titleCreaMarginLeft;
	font-size: $titleCreaSize;
	font-family: 'Gabriela', serif ;
	font-weight: bold;
	color: $percentageBarAndInputsAcc;
}

.title-form {
	color: $white;
}

.title-section{
	text-align: center;
	color: $percentageBarAndInputsAcc;
}

.subtitle-section{
	margin: $subtitleSectionMargin;
	text-align: center;
}

.title-name{
	font-size: 20px;
	font-weight: bold;
}

@media all and (max-width: 600px){
	.title-form{
		font-size: $titleFormSizeMvl;
	}
	.title-crea {
		margin-top: 15%;
		margin-left: 20px;
		font-size: 2em;
	}
}

@media all and (max-width: 900px){
	.title-crea {
		margin-top: 10%;
		margin-left: 20px;
		font-size: 2.1em;
	}
}
