.datosprin{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.socialLabel{
	margin-top: 7px;
	margin-right: 10px;
}
.nets{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
 }
.inputPortfolio{
	display: flex;
	text-align: center;
	font-size: 15px;
	margin-top: 13px;
	padding: 2px;
	border: solid 1px;
	border-radius: 5px;
	width: 225px;
	height: 28px;
	margin-right: 8px;
}
.alert-dates{
	background-color: $whitishBackground;
	width: 230px;
  height: 110px;
  position: fixed;
  top: 220px;
  left: 17%;
	border: 2px solid #{$inputAndButtons};
}
.button-alert-img{
	background-color: transparent;
  border: none;
	position: absolute;
	top: 3px;
  right: 0;
	cursor: pointer;
}
.text-alert{
	font-size: 13px;
  margin: 30px 30px;
  text-align: justify;
  color: $alerts;
	font-weight: bold;
}
.alert-cruise{
	width: 20px;
  height: 20px;
}
.seccion{
	padding: 60px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  z-index: 2;
}
.campos{
 margin: 0 0 1.5rem;
 display: flex;
 flex-direction: row;
}
@media all and (min-width: 400px){
	.nets{
		display: flex;
		flex-direction: row;
	 }
}
@media all and (max-width: 600px){
	.icons{
		height: 28px;
	  width: 28px;
	}
	.text-form-button{
		font-size: 18px;
	}
}
@media all and (min-width:600px) {
	.infooter{
		display: flex;
		flex-direction: row;
	}
}

@media all and (min-width:900px) {
		.flexible::before{
		left: 0;
		top: 0;
		background: url(../images/group.png) left top no-repeat;
		background-size: cover;
	}
		.main-web-sections {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-top: 67px;
	}
	main {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}
	.formulario-sec {
		height: 100%;
		width: 40%
	}
	.logo{
		margin-right:120px;
	}
	.end{
		margin-left: auto;
	}
	.language{
		margin-right: 1%;
	}
}

@media print {
	header, footer, nav {
		display: none;
	}
	.thumb2{
		margin-top: 50px;
	}
	.formulario-sec {
		  display: none;
	}
}
