@font-face {
font-family: 'American Typewriter Bold';
font-style: normal;
font-weight: normal;
src: local('American Typewriter Bold'), url('ufonts.com_american-typewriter-bold.woff') format('woff');
}

.wrapper{
	font-family: 'Gabriela', serif;
}
